*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body{
    background-color: rgba(128, 128, 128, 0.166);
}


 /* HEADER */
 header{
    background-color: white;
    height: 60px;
    margin: 0;

 }

.logo-img{
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

.toboolist{
    display: inline-block;
    font-size: 50px;
    vertical-align: middle;
    
}
/* MAIN */
main{
    width: 70%;
    margin: 30px auto;
    
}

/* BUTTONS */
.buttons{
    background-color: white;
    padding: 15px 45px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#add-task{
    background-color: rgb(0, 174, 255);
    color: white;
    border-color: rgb(0, 174, 255);
    border-style: solid;
    border-width: 1px;
    padding: 5px 15px;
    border-radius: 5px;
}

#add-section{
    border-color: grey;
    color: grey;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    padding: 5px 15px;
    border-radius: 5px;
}

/* UNORDERED LIST */
.unordered-list{
    background-color: white;
    padding: 30px 45px 5px 45px;
    margin-top: 3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

section{
    margin-bottom: 40px;
    line-height: 40px;
}

ul{
    font-size: 20px;
    list-style-type: none;
    padding-left: 5px;
}

span{
    font-size: 10px;
    padding: 10px;
    border-radius: 20px;
    margin-left: 5px;
}

.span-editorial{
    background-color: cornflowerblue;
    color: white;
    
}

.span-goals{
    background-color: blueviolet;
    color: white;
}

.span-recruiting{
    background-color: darkseagreen;
    color: white;
}

.span-mobile{
    background-color: orange;
    color: white;
}

.span-website{
    background-color: fuchsia;
    color: white;
}

.span-sales{
    background-color: rgb(47, 255, 137);
    color: white;
}

